fastapi
uvicorn
python-multipart
sqlalchemy
psycopg2-binary
cryptography
python-jose[cryptography]
passlib[bcrypt]
transformers
torch
torchvision
pytorch-lightning
opencv-python
pandas
streamlit
celery
redis
pillow